// css img, button, heading, title, input, elements, components...
img {
    max-width: 100%;
    height: auto;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
    &.--center {
        margin: 0 auto;
        display: block;
    }
}
a {
    display: block;
    text-decoration: none;
}

// colors (tuỳ chỉnh)
.--white-cl {
    color: $white-cl;
}
.--black-cl {
    color: $black-cl;
}
.--blue-cl {
    color: $blue-cl;
}

// css article (nội dung chi tiết bài viết)
article {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        // font-family: ib; // font bold
        display: block;
    }
    h1 {
        font-size: var(--h1-fs);
        line-height: var(--h1-lh);
        margin: 0 0 0.67rem 0;
    }
    h2 {
        font-size: var(--h2-fs);
        line-height: var(--h2-lh);
        margin: 0 0 0.75rem 0;
    }
    h3 {
        font-size: var(--h3-fs);
        line-height: var(--h3-lh);
        margin: 0 0 0.83rem 0;
    }
    h4 {
        font-size: var(--h4-fs);
        line-height: var(--h4-lh);
        margin: 0 0 1.12rem 0;
    }
    h5 {
        font-size: var(--h5-fs);
        line-height: var(--h5-lh);
        margin: 0 0 1.5rem 0;
    }
    h6 {
        font-size: 0.67rem;
        margin: 0 0 1.67rem 0;
    }

    p {
        margin: 0 0 1.12rem 0;
    }
    strong {
        // font-family: ib; // font bold
    }
    ol,
    ul {
        list-style: initial;
        padding-left: 18px;
    }
    img {
        display: inline-block;
        height: auto;
        overflow: hidden;
        border-radius: 10px;
        margin: 25px auto;
    }
    .video {
        width: 100%;
        height: 0;
        padding-bottom: 56.25%;
        position: relative;
        margin: 25px auto;
        iframe,
        video {
            position: absolute;
            @include size(100%);
            top: 0;
            left: 0;
        }
    }
    @include xs {
        img {
            margin: 20px auto;
        }
    }
}

.heading {
    font-family: ib;
    &.--h1 {
        font-size: var(--h1-fs);
        line-height: var(--h1-lh);
    }
    &.--h2 {
        font-size: var(--h2-fs);
        line-height: var(--h2-lh);
    }
}


//product__page


.work__room{
            margin-bottom: 50px;
            .work__room-title{
                display: flex;
                justify-content: space-between;
                .left{
                    display: flex;
                    .number{
                        font-family: "eb";
                        font-size: 90px;
                        line-height: 135px;
                        color: $cl-yellow-product;
                    }
                    .text{
                        margin-left: 15px;
                        h2{
                            font-family: "eb";
                            font-size: 18px;
                            line-height: 40px;
                            text-transform: uppercase;
                        }
                        p{
                            font-family: Arial, Helvetica, sans-serif;
                            font-size: 12px;
                            line-height: 24px;
                            max-width: 450px;
                        }
                    }
                }
                .right{
                    align-self: center;
                    display: flex;
                    i{
                        margin-right: 10px;
                        display: flex;
                        img{
                            margin: auto;
                        }
                    }
                    p{
                        font-family: Arial, Helvetica, sans-serif;
                        font-size: 12px;
                        line-height: 40px;
                        text-transform: uppercase;
                        font-weight: bold;
                    }
                }
            }
            .work__room-product{
                $gap: 20px;
                display: grid;
                grid-template-columns: 1fr 1fr 1fr;
                gap: $gap;
                .product-detail{
                    position: relative;
                    a{
                        img{
                            width: 100%;
                        }
                    }
                    &::after{
                        content: "";
                        display: block;
                        height: 80%;
                        width: 1px;
                        background-color: #ccc;
                        // margin: 0 10px;
                        position: absolute;
                        right: -10px;
                        top: 0;
                    }
                    .caption__product{
                        h3{
                            font-family: Arial, Helvetica, sans-serif;
                            font-size: 16px;
                            line-height: 40px;
                        }
                        .price{
                            font-family: Arial, Helvetica, sans-serif;
                            font-size: 12px;
                            line-height: 40px;
                        }
                        .description{
                            display: flex;
                            i{
                                display: flex;
                                img{
                                    margin: auto;
                                }
                            }
                            p{
                                font-family: Arial, Helvetica, sans-serif;
                                font-size: 12px;
                                line-height: 40px; 
                                text-transform: uppercase;
                                font-weight: bold;
                                margin-left: 10px;
                            }
                        }
                    }
                }
                .product-detail--three{
                    &::after{
                        display: none;
                    }
                    .caption__product{
                        position: relative;
                        .btn__next-product{
                            right: 0;
                            img{
                                height: 60px;
                                position: absolute;
                                right: 0;
                                top: 50%;
                                transform: translateY(-50%);
                            }
                        }
                    }
                }
            }
}
.header-mini{
    position: absolute;
    top: 40px;
    left: 40px;
    width: 150px;
    display: flex;
    justify-content: space-between;
    z-index: -1;
    p{
        font-family: "ir";
        font-size: 11px;
        line-height: 30px;
        text-transform: uppercase;
        font-weight: 600;
    }
}

@media screen and(max-width: 767px) {
    .product__page .container .work__room 
    .work__room-title .left .number {
        font-size: 70px;
    }
}
